<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
<h1>Books</h1>

<div>
    <form id="create-book-form">
        <label>
            Title:
            <input id="create-title" name="title" required>
        </label>
         |
        <label>
            ISBN:
            <input id="create-isbn" name="isbn" required>
        </label>
         |
        <label>
            Author:
            <input id="create-author" name="author" required>
        </label>
         |
        <button type="reset">Clear</button>
         |
        <button type="submit">Create book</button>
    </form>
</div>
<hr/>
<div>
    <form id="filters-form">
        <label>
            Name:
            <input id="filter-name" name="name">
        </label>
         |
        <button type="reset">Clear</button>
         |
        <button type="submit">Apply filter</button>
    </form>
</div>

<br/>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>ISBN</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody id="books-table-body">
    <tr th:each="book: ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.author}"></td>
    </tr>
    </tbody>
</table>
</body>

<script th:src="@{/scripts/script.js}"></script>

</html>