<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.title}"></title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
<div th:if="${#authorization.expression('isAnonymous()')}">
    <a href="/login" class="header-right">Log in</a>
</div>
<div th:if="${#authorization.expression('isFullyAuthenticated()')}">
    <a href="/logout" class="header-right">Log out</a>
    <a href="/user" class="header-right">Favourites</a>
</div>

<a href="/books">◄ Back to catalog</a>

<h1>Book</h1>

<div>
    <p>ISBN:
        <span th:text="${book.isbn}" th:remove="tag"></span>
    </p>
    <p>Title:
        <span th:text="${book.title}" th:remove="tag"></span>
    </p>
    <p>Author:
        <span th:text="${book.author}" th:remove="tag"></span>
    </p>
</div>
<div th:if="${#authorization.expression('isFullyAuthenticated()')}">
    <div class="not-in-favourites">♥</div>
</div>
</body>

<script th:inline="javascript">const isbn = [[${book.isbn}]];</script>
<script th:if="${#authorization.expression('isFullyAuthenticated()')}" th:src="@{/scripts/book-page-script.js}"></script>

</html>