<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
<div th:if="${#authorization.expression('isAnonymous()')}">
    <a href="/login" class="header-right">Log in</a>
    <a href="/signup" class="header-right">Sign up</a>
</div>
<div th:if="${#authorization.expression('isFullyAuthenticated()')}">
    <a href="/logout" class="header-right">Log out</a>
    <a href="/user" class="header-right">Favourites</a>
</div>

<h1>Books</h1>

<div th:if="${#authorization.expression('hasAuthority(''CREATE_BOOK'')')}">
    <div id="create-book-form-container">
        <form id="create-book-form">
            <label>
                ISBN:
                <input id="create-isbn" name="isbn" required pattern="[\\d]" minlength="13" maxlength="13">
            </label>
            |
            <label>
                Title:
                <input id="create-title" name="title" required>
            </label>
            |
            <label>
                Author:
                <input id="create-author" name="author" required>
            </label>
            |
            <button type="reset">Clear</button>
            |
            <button type="submit">Create book</button>
        </form>
    </div>
    <hr/>
</div>
<div>
    <form id="filters-form">
        <label>
            Filter:
            <input id="filter-filter" name="filter">
        </label>
        |
        <button type="reset">Clear</button>
        |
        <button type="submit">Apply filter</button>
    </form>
</div>

<br/>

<table>
    <thead>
    <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody id="books-table-body">
    </tbody>
</table>

<div class="paginator">
    <div id="paginator-previous-inactive">◄ Previous</div>
    <div id="paginator-next-inactive">Next ►</div>
    <div id="paginator-page">1</div>
</div>
</body>

<script th:src="@{/scripts/books-script.js}"></script>

</html>