<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create book</title>
</head>
<body>
<a href="/books">Back to book list</a>
<p></p>
<div>
    <form action="/create-book" method="post">
        <label>
            Title:
            <input name="title" required>
        </label>
        <br/>
        <label>
            ISBN:
            <input name="isbn" required>
        </label>
        <br/>
        <label>
            Author:
            <input name="author" required>
        </label>
        <br/>
        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>