<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
<h1>Sign up</h1>

<div>
    <form id="sign-up-form">
        <label>
            Login:
            <input id="sign-up-login" name="login" required pattern="[a-zA-Z0-9]">
        </label>
        <br/>
        <label>
            Password:
            <input id="sign-up-password" name="password" type="password" required minlength="8" maxlength="20">
        </label>
        <br/>
        <label>
            Name:
            <input id="sign-up-name" name="name" required>
        </label>
        <br/>
        <button type="submit">Sign up</button>
    </form>
</div>
</body>

<script th:src="@{/scripts/signup-script.js}"></script>

</html>